!!!
%html.no-js{lang: "en"}

  = partial "layout_header"
    
  %body{class: page_classes}
    = partial "header"
    
    - if is_blog_article?
      - content_for :blog_article, yield
      = partial 'article'
    - else
      = yield
    
    = partial "footer" 
    = javascript_include_tag  "all"
    
    / Piwik
    :javascript
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.ralph-moecklinghoff.de/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    %noscript
      %p
        %img{:alt => "", :src => "//piwik.ralph-moecklinghoff.de/piwik.php?idsite=1", :style => "border:0;"}/
    / End Piwik Code