!!!
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %title= @title || "Webanwendungen - Webseiten -Social Media / Ralph M&ouml;cklinghoff - Hamburg"
    
    - if @imprint 
      %meta{:content => "noindex, nofollow", :name => "robots"}
    - else
      %meta{:content => "index, follow", :name => "robots"}
      
    // TODO made font-awesome running from bower_components
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}/
    
    %script{:src => "http://use.typekit.com/kmw2qfx.js"}
    :javascript
      try{Typekit.load();}catch(e){}
    
    = stylesheet_link_tag "app"
    = javascript_include_tag "before"
    
  %body{class: page_classes}
    = partial "header"
    
    - if is_blog_article?
      - content_for :blog_article, yield
      = partial 'article'
    - else
      = yield
    
    = partial "footer" 
    = javascript_include_tag  "all"
    
    / Piwik
    :javascript
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.ralph-moecklinghoff.de/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    %noscript
      %p
        %img{:alt => "", :src => "//piwik.ralph-moecklinghoff.de/piwik.php?idsite=1", :style => "border:0;"}/
    / End Piwik Code