-# ---------------------------------------------------------
-# The navigation 
-# ---------------------------------------------------------

.contain-to-grid.navigation
  %nav.top-bar{"data-topbar" => ""}
    %ul.title-area
      %li.name
        %h1   
          %a{:href => "/", :class => 'header--home'}= t("header.ralph")
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}= t("header.menu")
              
    %section.top-bar-section
      %ul.right
        -# %li{:class => ('active' if @work)}
        -#   %a{:href => "/work.html"}= t("header.work")
        %li{:class => ('active' if @about)}
          %a{:href => "/about.html"}= t("header.about")
        %li{:class => ('active' if @blog)}
          = link_to t("header.blog"), blog.articles.first.url
        %li{:class => ('active' if @contact)}
          %a{:href => "/contact.html"}= t("header.contact")
