- @about = true

.layout--about
  
  .layout--about-text 
    .content
      %h6.content--main-headline= t("about.header_me")
      %p.content--main-copy= t("about.me")
      
      %h6.content--main-headline= t("about.header_customer")
      %p.content--main-copy= t("about.customer")
      %p.content--main-copy= t("about.brands", 
                            :link_1 => "#{link_to('SinnerSchrader GmbH', 'https://sinnerschrader.com/de/')}",
                            :link_2 => "#{link_to('Zweitag GmbH', 'https://www.zweitag.de/de')}",
                            :link_3 => "#{link_to('brandmarken.', 'http://www.brandmarken.de/')}",
                            :link_4 => "#{link_to('Ants with Friends', 'http://www.antswithfriends.net/')}",
                            :link_5 => "#{link_to('Inveos GmbH.', 'http://www.inveos.com/')}" )
  
  .layout--about-links
    
    %h6.content--main-headline= t("about.header_social_media")
        
    .socialmedia--link 
      %a{:href => "https://www.xing.com/profile/Ralph_Moecklinghoff"}
        %i.fa.fa-xing &nbsp;
        = t("about.xing")
    .socialmedia--link
      %a{:href => "https://github.com/RalphAtHamburg"}   
        %i.fa.fa-github &nbsp;
        = t("about.github")
    .socialmedia--link 
      %a{:href => "http://www.linkedin.com/in/ralphmoecklinghoff"}
        %i.fa.fa-linkedin &nbsp;
        = t("about.linked_in")
    .socialmedia--link 
      %a{:href => "https://plus.google.com/+RalphMöcklinghoff"}
        %i.fa.fa-google-plus &nbsp;
        = t("about.google")
    .socialmedia--link 
      %a{:href => "https://twitter.com/RalphAtHamburg"}
        %i.fa.fa-twitter &nbsp;
        = t("about.twitter")
    
