        
-# ---------------------------------------------------------
-# The HEADLINE 
-# ---------------------------------------------------------

.layout--full
  .layout--full-box
    .header--headline
      = t("header.header")
 
-# ---------------------------------------------------------
-# The images 
-# ---------------------------------------------------------

.layout--visual
  .layout--visual-box
    %ul.layout--visual-images
      %li= image_tag 'code.jpg'
      %li= image_tag 'html.jpg'
      %li= image_tag 'diagram.jpg'


-# ---------------------------------------------------------
-# The claim 
-# ---------------------------------------------------------

.layout--full
  .layout--full-box.content--claim
    = t("home.claim")
    
-# ---------------------------------------------------------
-# The 2 long copies webapplication and websites
-# ---------------------------------------------------------

.layout--medium

  .layout--medium-box
    %section.content
      %header
        %h6.content--main-headline= t("home.header_webapps")
      %p.content--main-copy= t("home.webapps")
         
  .layout--medium-box
    %section.content
      %header
        %h6.content--main-headline= t("home.header_websites")
      %p.content--main-copy= t("home.websites")

-# ---------------------------------------------------------
-# The bottom area with additional content for twitter
-# about, ants with friends and dates
-# ---------------------------------------------------------

.layout--small
  .layout--small-box
  
    .content--sub-headline
      = t("home.twitter")
    %a.twitter-timeline{"data-dnt" => "true", "data-widget-id" => "421354655507951616", href: "https://twitter.com/RalphAtHamburg"} Tweets von @RalphAtHamburg    
      
  .layout--small-box
  
    .content--sub-headline
      = t("home.header_middleman")
    .content--sub-copy
      = t("home.middleman", :link_1 => "#{link_to('Middleman', 'http://middlemanapp.com')}",
                            :link_2 => "#{link_to('Foundation 5', 'http://foundation.zurb.com')}",
                            :link_3 => "#{link_to('SASS', 'http://sass-lang.com')}",
                            :link_4 => "#{link_to('HAML', 'http://haml.info')}",
                            :link_5 => "#{link_to('Compass', 'http://compass-style.org')}",
                            :link_6 => "#{link_to('GitHub', 'https://github.com/RalphAtHamburg/RalphAtHamburg')}" )
      
    
    .content--sub-headline
      = t("home.header_coworking")
    .content--sub-copy
      = t("home.coworking", :link => "#{link_to('Betahaus', 'http://hamburg.betahaus.de')}")
        
  .layout--small-box
    .content--sub-headline
      = t("home.dates")
    = partial ("dates")
 
-# ---------------------------------------------------------
-# The JS for the twitter timeline 
-# ---------------------------------------------------------
   
:javascript
  ! function (d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    p = /^http:/.test(d.location) ? 'http' : 'https';
  if (!d.getElementById(id)) {
    js = d.createElement(s);
    js.id = id;
    js.src = p + "://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
  }
  }(document, "script", "twitter-wjs");