-# ---------------------------------------------------------
-# The images 
-# ---------------------------------------------------------

.layout--visual
  .layout--visual-box
    %ul.layout--visual-images
      %li= image_tag 'code.jpg'
      %li= image_tag 'html.jpg'
      %li= image_tag 'diagram.jpg'

-# ---------------------------------------------------------
-# The claim 
-# ---------------------------------------------------------

.layout--full
  .layout--full-box.content--claim
    = t("home.claim")
    
-# ---------------------------------------------------------
-# The 2 long copies webapplication and websites
-# ---------------------------------------------------------

.layout--medium
  .layout--medium-box
    .content--headline= t("home.header_webapps")
    .content--copy= t("home.webapps")
         
  .layout--medium-box
    .content--headline= t("home.header_websites")
    .content--copy= t("home.websites")

-# ---------------------------------------------------------
-# The bottom area with additional content for twitter
-# about, ants with friends and dates
-# ---------------------------------------------------------

.layout--small
  .layout--small-box
  
    .content--headline-sub
      Twitter
    %a.twitter-timeline{"data-dnt" => "true", "data-widget-id" => "421354655507951616", href: "https://twitter.com/RalphAtHamburg"} Tweets von @RalphAtHamburg    
      
  .layout--small-box
    .content--headline-sub
      Über diese Seite
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .content--headline-sub
      ANTS with FRIENDS
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    
  .layout--small-box
    .content--headline-sub
      Meine Termine
    = partial ("dates")
 
-# ---------------------------------------------------------
-# The JS for the twitter timeline 
-# ---------------------------------------------------------
   
:javascript
  ! function (d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    p = /^http:/.test(d.location) ? 'http' : 'https';
  if (!d.getElementById(id)) {
    js = d.createElement(s);
    js.id = id;
    js.src = p + "://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
  }
  }(document, "script", "twitter-wjs");