- @work = true

.layout--work
  .layout--work-box.content   
    .content--main-headline
      = lorem.words 5
    .content--main-copy
      = lorem.sentences 3
      
  .layout--work-box-side
    = image_tag lorem.image('350x150'), :alt => ""
    
.layout--work
  .layout--work-box-side
    = image_tag lorem.image('350x150'), :alt => ""
      
    
  .layout--work-box.content
    .content--main-headline
      = lorem.words 3
    .content--main-copy
      = lorem.sentences 4
        
.layout--work
  .layout--work-box-side
    = image_tag lorem.image('350x150'), :alt => ""

  .layout--work-box.content
    .content--main-headline
      = lorem.words 5
    .content--main-copy
      = lorem.sentences 3

.layout--work
  .layout--work-box.content
    .content--main-headline
      = lorem.words 3
    .content--main-copy
      = lorem.sentences 5
        
      
  .layout--work-box-side
    = image_tag lorem.image('350x150'), :alt => ""

 